<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="s">
        <meta-data
            android:name=".geniusClientAccessToken"
            android:value="{APIKEY}" />

        <activity
            android:name=".LyricsViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MusicBroadcastReceiver"
            android:exported="true"
            android:permission=""
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.amazon.mp3.metachanged" />
                <action android:name="com.amazon.mp3.playstatechanged" />
                <action android:name="com.andrew.apollo.metachanged" />
                <action android:name="com.andrew.apollo.playstatechanged" />
                <action android:name="com.android.music.metachanged" />
                <action android:name="com.android.music.playstatechanged" />
                <action android:name="com.htc.music.metachanged" />
                <action android:name="com.htc.music.playstatechanged" />
                <action android:name="com.miui.player.metachanged" />
                <action android:name="com.miui.player.playstatechanged" />
                <action android:name="com.nullsoft.winamp.metachanged" />
                <action android:name="com.nullsoft.winamp.playstatechanged" />
                <action android:name="com.samsung.sec.android.MusicPlayer" />
                <action android:name="com.samsung.sec.android.MusicPlayer.playstatechanged" />
                <action android:name="com.sec.android.app.music.metachanged" />
                <action android:name="com.sec.android.app.music.playstatechanged" />
                <action android:name="com.sonyericsson.music.metachanged" />
                <action android:name="com.sonyericsson.music.playstatechanged" />
                <action android:name="com.spotify.music.metachanged" />
                <action android:name="com.spotify.music.playstatechanged" />
                <action android:name="com.real.IMP.metachanged" />
                <action android:name="com.real.IMP.playstatechanged" />
                <action android:name="com.rdio.android.metachanged" />
                <action android:name="com.rdio.android.playstatechanged" />
                <action android:name="fm.last.android.metachanged" />
                <action android:name="fm.last.android.playstatechanged" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
